.tiptap-button-text-color {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  background-color: var(--text-color);
  border: 1px solid var(--tt-bg-color-contrast);
  box-sizing: border-box;
}

[data-style='ghost'][data-active-state='on'] .tiptap-button-text-color {
  border-width: 2px;
  border-color: var(--tt-text-color);
}

[data-style='ghost']:hover .tiptap-button-text-color {
  opacity: 0.8;
}

[data-style='ghost'][data-disabled='true'] .tiptap-button-text-color {
  opacity: 0.5;
  cursor: not-allowed;
}
